.container {
    max-width: 1370px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29%, 1fr));
    gap: 45px;
}

.cart-container {
    border-radius: 20px;
    background: rgba(255, 153, 0, 0.3);
}

.common-btn {
    margin-top: 30px;
    width: 100%;
    padding: 15px 20px;
    border: none;
    background: #FF9900;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.common-btn .icon {
    margin-left: 10px;
    font-size: 22px;
}